body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

table {
    width: 50%; /* Reduce width to make the table narrower */
    height: 400px; /* Increase height to make the table taller */
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px; /* Increase padding for a larger cell size */
    text-align: left;
    font-size: 16px; /* Adjust font size */
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

#downloadButton {
    display: block;
    margin: 30px auto; /* Increase margin for positioning */
    padding: 16px 40px; /* Increase padding for a larger button */
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 8px; /* Increase border-radius for a rounder button */
    cursor: pointer;
    font-family: "Times New Roman", Times, serif; /* Change font family */
    font-size: 18px; /* Adjust font size for button text */
}

#downloadButton:hover {
    background-color: #0056b3;
}
